<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--引入外部配置文件-->
    <properties resource="db.properties">
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </properties>

    <settings>
        <!--标准日志工厂设置实现-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>



<!--    &lt;!&ndash;给java类起别名的方式一&ndash;&gt;
    <typeAliases>
        <typeAlias type="com.fan.pojo.User" alias="User"/>
    </typeAliases>-->

    <!--给java类起别名的方式二-->
    <typeAliases>
        <package name="com.fan.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--type:设置数据库连接池-->
            <dataSource type="POOLED" >
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--每一个mapper.xml都需要注册在核心配置文件中-->
 <mappers>
     <mapper class="com.fan.dao.UserMapper"/>
 </mappers>
    
</configuration>